@model PartyInvites.Models.GuestResponse


<DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Thanks</title>
    </head>
    <body>
        <div>
            <div>
                <h1>Thanks, @Model?.Name!</h1>
                @if (Model?.WillAttend == true)
                {
                    @:It's great that you're coming. The drinks are already in the fridfe!
                }
                else
                {
                    @:Sorry to hear that you can't make it, but thanks for letting us know.
                }

            </div>
            Click <a asp-action="ListResponses">here</a> to see who's coming.
        </div>
    </body>
</html>
